@model List<StockTracking.Models.Estimate>

@{
    ViewData["Title"] = "Multiple Edit";
}

<style type="text/css">
    tr:hover {
        background-color: whitesmoke;
    }
</style>

<h2>Multiple Edit</h2>

<form asp-action="MultipleEdit">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Period.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].InvesmentCompany.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Stock.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].OpeningPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].TargetPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].ClosingPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => modelItem[i].Id)
                        @Html.DisplayFor(modelItem => modelItem[i].Period.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].InvesmentCompany.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].Stock.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].OpeningPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem[i].TargetPrice)
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(modelItem => modelItem[i].ClosingPrice)
                        </div>
                        <div>
                            @Html.ValidationMessageFor(modelItem => modelItem[i].ClosingPrice)
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Save" class="btn btn-default" />
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
